
body, html {
    height: 100%;
}

/*html {
  background: url("../img/fotolia_104477267.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body{
  font-size:16px;
}

/* full page background image */

.bg {
  /* The image used */
  background-image: url("../img/fotolia_104477267.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-two {
  /* The image used */
  background-image: url("../img/fotolia_104477267-BW.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* background image masks */

.rgba-black-strong {
  background-color: rgba(0,0,0,.5);
}

.rgba-white-strong {
  background-color: rgba(255, 255, 255, 0.95);
}

/* fake navbar */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 95px;
}

/* navbar styling */

.header-info {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  position: relative;
}

/* navbar text */

.header-title {
  font-family: 'Roboto Slab';
  color: rgba(68, 104, 125, 1);
  font-size: 1.5rem;
}

/* main content text */

.opening-blurb-text {
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans';
  font-size: 1.25rem;
  line-height: 1.75;
}

.main-content {
  height: 100vh;
}

/* question header text */

.question-header {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  font-weight: bold;
}

/* checkbox label text */

.checkbox-label-text .form-check-label {
  color: rgba(36, 39, 48, 1);
  font-family: 'Open Sans';
  font-size: 1.25rem;
  line-height: 1.28rem;
}


/* overlay on which the main content sits */

.overlay-one {
  position: absolute;
  /*top: 95px;*/
  bottom: 0;
  left: 0;
  right: 0;
  height: 95%;
  width: 100%;
  opacity: 1;
  background-color: transparent;
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 15px;
}

/* text questions content row */

.text-questions-content {
  padding-top: 12rem;
}

.text-questions-content-white-background {
  padding-top: 8rem;
}

/* text questions div */

.opening-content {
  padding-right: 0;
}

/* button primary */

  button {
    min-width: 178px;
  }

.btn-primary {
  background-color: rgb(95, 143, 191) !important;
  border-radius: 10px;
  font-family: 'Open Sans';
  font-size: .95rem;
  font-weight: 600;
  margin-left: 0;
  padding: .6rem 1.25rem;
  text-transform: none;
}

.btn-primary:hover {
  filter: brightness(110%);
}

/* footer */

footer.page-footer {
  margin-top: 0px !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

footer.page-footer .footer-copyright {
  background-color: rgb(54, 57, 56);
  color: white;
  font-family: 'Open Sans';
  font-size: 11px;
}


/* a lot of media queries */

/* header content */

@media screen and (max-width: 920px) {
    .navbar-brand img {
        height: 50px;
    }
}

@media screen and (max-width: 812px) and (orientation: landscape ){
    .navbar-brand img {
        height: 50px;
    }
    .text-questions-content {
    padding-top: 6rem;
    padding-bottom: 5rem;
}
}

@media screen and (max-width: 812px) and (orientation: portrait ){
    .logo-section {
      padding-left: 0 !important;
    }
    .text-questions-content {
    padding-top: 6rem;
    padding-bottom: 5rem;
}
}

@media screen and (max-width: 812px) {
    .logo-section {
      padding-left: 0 !important;
    }
    footer.page-footer .footer-copyright {
      padding-left: 30px !important;
    }
    .copyright-div {
      padding-left: 2px !important;
    }
}


@media screen and (max-width: 768px) and (orientation: portrait ){
    .navbar-brand img {
        height: 50px;
    }
}

@media screen and (max-width: 575px) {
    .text-questions-content {
      margin-left: 0 !important;
      padding-right: 15px;
    }
}

@media screen and (max-width: 512px) {
    .logo-column {
      margin-right: 0 !important;
    }
}

@media screen and (max-width: 498px) {
    .navbar-brand img {
      height: 40px;
    }
    .header-title {
      font-size: 1.25rem;
      padding-top: .5rem !important;
    }
}

@media screen and (max-width: 414px) and (orientation: portrait ){
    .header-main-text {
      padding-left: 0 !important;
    }
    .header-title {
      font-size: 1.25rem;
    }
    .logo-column, .logo-section {
      padding-left: 0 !important;
    }
    .opening-content {
      padding-left: 0 !important;
    }
    footer.page-footer .footer-copyright {
      padding-left: 15px !important;
    }
}

@media screen and (max-width: 380px) {
  .navbar-brand img {
    height: 30px;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .logo-column {
    padding-right: 0;
  }
  .header-title {
    font-size: 1rem;
  }
}
