<!-- main content -->
<section class="container-fluid mask rgba-white-strong">
  <div class="main-content">
    <div class="overlay-one">
      <div class="row d-flex ml-4 text-questions-content-white-background animated fadeIn pl-1">
        <div class="col-sm-10 offset-sm-2 col-md-10 offset-md-2 col-lg-10 offset-lg-2 opening-content">
          <h3 class="question-header">
            Do you have test automation?
          </h3>
          <div class="pt-4">
            <a ng-click="startAssessmentQuestion('yes')">
              <button type="button" class="btn btn-primary btn-rounded">Yes</button>
            </a>
            <a ng-click="startAssessmentQuestion('no')">
              <button type="button" class="btn btn-primary btn-rounded">No</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>