<!-- main content -->
<section class="container-fluid mask rgba-black-strong">
  <div class="main-content">
    <div class="overlay-one">
      <div class="row d-flex ml-4 text-questions-content animated fadeIn pl-1">
        <div class="col-sm-6 offset-sm-2 col-md-5 offset-md-2 col-lg-4 offset-lg-2 opening-content intro-text-div">
          <h4 class="opening-blurb-text">
            Opening blurb explanation to the purpose of assessment Lorem ipsum dolor sit amet,
            consecutor adipiscing elit, sed do eiusmod tempor incidiunt ut labore et dolo.
          </h4>
          <div class="pt-4">
            <a href="#!contact-info"><button type="button" class="btn btn-primary btn-rounded">Start Assessment</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
