<!-- main content -->
<section class="container-fluid mask rgba-white-strong" ng-init="onInit()">
    <div class="main-content">
      <div class="overlay-one">
        <div class="row d-flex ml-4 text-questions-content-white-background animated fadeIn pl-1">
          <div class="col-sm-10 offset-sm-2 col-md-10 offset-md-2 col-lg-10 offset-lg-2 opening-content">
            <h3 class="question-header">
                {{questionObj.question}}
            </h3>
              <form>
                <div class="pt-3 checkbox-label-text question-content">
                  <div class="" ng-class="{'form-check pl-0':option.type!='text','md-form answer-divs othertext-{{option.id}}':option.type=='text','pt-3':option.id!=1&&option.type!='text','hide':option.type=='text'&&!answers[option.id]}" ng-repeat="option in questionObj.options">
                      <div ng-if="option.type!='text'">
                        <input type="checkbox" class="filled-in form-check-input" id="{{option.id}}" ng-true-value="'{{option.value}}'" ng-false-value="''" ng-model="answers.selected[option.id]" ng-click="handleClick(questionObj, option)">
                        <label class="form-check-label" for="{{option.id}}">{{option.text}}
                      </div>
                      <div ng-if="option.type=='text'">
                          <input type="text" id="othertext-{{option.id}}" class="form-control" ng-model="answers[option.id]">
                          <label for="form1ab" ng-class="{active: answers[option.id] != undefined}">{{option.text}}</label>
                      </div>
                  </div>                
                </div>
                <div class="pt-4" ng-if="!isLastQuestion">
                  <a><button ng-click="nextQuestion()" type="submit" name="submit" value="Submit" class="btn btn-primary btn-rounded waves-effect waves-light">Next Question</button></a>
                </div>
                <div class="pt-4" ng-if="isLastQuestion">
                    <a><button ng-click="submitQuestion()" type="submit" name="submit" value="Submit" class="btn btn-primary btn-rounded waves-effect waves-light" id="submit-b">Submit</button></a>
                  </div>
              </form>
            <div class="d-lg-none pt-4">
              <p class="pagination-text-one">
                  Q{{questionNo}} of {{totalQuestions}}
                  <span class="pagination-text-two pl-4"><a ng-click="prevQuestion()">&#8592; Prev </a><span ng-if="!isLastQuestion">|<a ng-click="nextQuestion()"> Next &#8594;</a></span></span>
              </p>
            </div>
          </div>
          <div class="col-sm-10 offset-sm-2 col-md-10 offset-md-2 col-lg-12 text-center pagination-column pt-4 d-lg-none d-none d-lg-block">
            <p class="pagination-text-one pt-3">
                Q{{questionNo}} of {{totalQuestions}}
                <span class="pagination-text-two pl-4"><a ng-click="prevQuestion()">&#8592; Prev </a><span ng-if="!isLastQuestion">|<a ng-click="nextQuestion()"> Next &#8594;</a></span></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

<div id="snackbar">{{questionErrorMessage}}</div>
<div id="snackbar-thanks">{{thankYouMessage}}
</div>