<!-- Header -->
<header>
  <div class="container-fluid header-info">
    <div class="d-flex flex-row">
      <div class="col-sm-2 col-md-2 logo-column mr-4">
        <div class="pl-4 logo-section">
          <a class="navbar-brand py-4" href="#">
            <img src="{{headerImage}}" height="54" alt="SDLC logo">
          </a>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 header-main-text d-flex align-items-center pt-2">
        <h3 class="header-title text-nowrap pt-3">{{header}}</h3>
      </div>
    </div>
  </div>
</header>
<!-- Header -->